.section-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beirut-white);
    color: #333;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--beirut-black);
    font-size: 8vw;
    text-align: center;
    text-transform: uppercase;
    line-height: 100vh;
    mix-blend-mode: screen;
    text-shadow: -3px -3px 0 white,
    3px -3px 0 white,
    3px 3px 0 var(--beirut-white),
    -3px 3px 0 white;
}

@media screen and (max-width: 768px) {
    .banner h2 {
        text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        1px 1px 0 var(--beirut-white),
        -1px 1px 0 white;
    }
}
